body {
  background-color: darkgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 1500vh; */
}

div {
  width: 100px;
  height: 100px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
}

#head_div {
  width: 1000px;
  /* background-color: yellowgreen; */
}

.bigBox {
  width: 430px;
  height: 630px;
  /* background-color: whitesmoke; */
  position: relative;
}
.leftTop {
  background-color: tomato;
  width: 200px;
  height: 300px;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 5px solid white;
  /* padding: 5px white; */
}
.rightTop {
  background-color: teal;
  width: 200px;
  height: 300px;
  position: absolute;
  top: 0px;
  right: 0px;
  border: 5px solid white;
}

.leftBottom {
  background-color: burlywood;
  width: 200px;
  height: 300px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border: 5px solid white;
}
.rightBottom {
  background-color: thistle;
  width: 200px;
  height: 300px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border: 5px solid white;
}

.inside_white {
  width: 200px;
  height: 100px;
  background-color: white;
  position: relative;
  top: 40px;
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  text-align: left;
  padding: 0 70px 0 0;
}
